//colores
:root{
    --bgcolor: #eff0f4;
    --color1: #B2B2B2;
    --color2: #333333;
    --color3: #0094BF;
    --color4: #535353;
    --color5: white;
    --color6: #91B73D;
    --color7: #4588FF;
    --color8:#00C1D1;
    --color9:#E25332;
    --colorgradient: linear-gradient(90deg, #00C1D1 0%, #3D248C 100%);
    //Fuentes
    --font: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    --font_bold: 800;
    --font_medium: 500;
    --font_regular: 400;
    --font_thin: 200;
}