:root {
  --bgcolor: #eff0f4;
  --color1: #B2B2B2;
  --color2: #333333;
  --color3: #0094BF;
  --color4: #535353;
  --color5: white;
  --color6: #91B73D;
  --color7: #4588FF;
  --color8:#00C1D1;
  --color9:#E25332;
  --colorgradient: linear-gradient(90deg, #00C1D1 0%, #3D248C 100%);
  --font: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
  --font_bold: 800;
  --font_medium: 500;
  --font_regular: 400;
  --font_thin: 200;
}

#inst_title {
  background: white;
  box-shadow: rgba(212, 212, 212, 0.368627451) -1px 6px 13px 0px;
  display: flex;
  justify-content: center;
}

#logo {
  text-align: center;
  width: 18%;
  padding: 25px;
}

@media (max-width: 360px) {
  #logo {
    text-align: center;
    width: 55%;
    padding: 25px;
  }

  #success_icon {
    margin-left: 12px;
  }
}
@media (min-width: 361px) and (max-width: 767px) {
  #logo {
    text-align: center;
    width: 35%;
    padding: 25px;
  }
}
@media print {
  #logo {
    width: 15%;
    padding: 10px;
  }
}
body {
  margin: 0;
  font-family: var(--font);
}

#alert {
  width: 100%;
  margin-top: 20px;
}

#alert_container {
  margin-top: 20px;
  width: 60%;
  display: flex;
  margin: 0 auto;
  background-color: #F5D968;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

#alert_icon {
  width: 3%;
  height: auto;
}

#alert_text {
  font-size: 18px;
  width: 80%;
}

#btn_area {
  width: 100%;
  margin-top: 30px;
}

#btn_appointment_search {
  display: flex;
  margin: 0 auto;
  width: 220px;
  height: 45px;
  font-family: var(--font);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  background-color: var(--color7);
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

#btn_appointment_search:hover {
  box-shadow: -1px 2px 8px 3px rgba(0, 0, 0, 0.18);
}

#grid_container {
  width: 70%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  align-items: center;
  justify-items: center;
}

.appointment {
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px 40px;
  border: 2px dotted #D3D3D3;
  display: flex;
  width: 90%;
  align-items: center;
}

#appointment_data {
  display: flex;
  flex-direction: column;
  width: 70%;
}

#profesional_selector {
  width: 30%;
}

.data {
  padding: 6px 0px;
}

#authorization_number {
  font-size: 12px;
  font-weight: 600;
}

.btn_secondary {
  margin-top: 10px;
  width: 220px;
  height: 45px;
  font-family: var(--font);
  color: var(--color7);
  font-size: 16px;
  font-weight: 600;
  border: 1px solid var(--color7);
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
}

.btn_secondary:hover {
  box-shadow: rgba(158, 158, 158, 0.368627451) -1px 6px 13px 0px;
  background-color: white;
}

.coco_input {
  width: 90%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid black;
  font-size: 1.0625rem;
  margin-top: 10px;
  font-size: 14px;
  font-family: var(--font);
  text-align: left;
}

.coco_input:focus {
  outline: none;
  border-bottom: 2px solid #008BCD;
}

.dropdown {
  display: flex;
  flex-direction: column;
}

#down_icon {
  float: right;
}

#bottom_coco_container {
  width: 100%;
}

#bottom_coco {
  text-align: center;
  width: 99%;
  bottom: 0;
  margin: 20px auto;
}

#coco {
  width: 5%;
}

@media (max-width: 360px) {
  #alert_container {
    width: 90%;
  }

  #grid_container {
    width: 90%;
  }

  .appointment {
    flex-direction: column;
    padding: 20px 10px;
  }

  #authorization_number {
    text-align: center;
  }

  #appointment_data {
    width: 100%;
    align-items: center;
  }

  .data {
    align-self: start;
    padding: 15px 0px;
  }

  .btn_secondary {
    margin: 40px auto;
  }

  #profesional_selector {
    width: 100%;
  }

  .coco_input {
    width: 98%;
  }
}
@media (min-width: 361px) and (max-width: 767px) {
  #alert_container {
    width: 90%;
  }

  #grid_container {
    width: 90%;
  }

  .appointment {
    flex-direction: column;
    padding: 20px 10px;
  }

  #authorization_number {
    text-align: center;
  }

  #appointment_data {
    width: 100%;
    align-items: center;
  }

  .data {
    align-self: start;
    padding: 15px 0px;
  }

  .btn_secondary {
    margin: 40px auto;
  }

  #profesional_selector {
    width: 100%;
  }

  .coco_input {
    width: 98%;
  }
}

/*# sourceMappingURL=appointment%20inline.css.map */
